<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>© {{ currentYear }} Caravan </ion-title>
    <ion-buttons slot="end">
      <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0"
          src="https://buttons.github.io/buttons.html#href=https://github.com/spreadzp/waves-number-predictor&amp;title=&amp;aria-label=Star%20waves-number-predictor%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star"
          style="width: 50px; height: 20px; border: none;"></iframe></div>
      <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0"
          src="https://buttons.github.io/buttons.html#href=https://github.com/spreadzp/waves-number-predictor&amp;title=&amp;aria-label=Follow%20%40spreadzp%20on%20GitHub&amp;data-text=GitHub"
          style="width: 67px; height: 20px; border: none;"></iframe></div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
