app-show-actors-modal {

    ion-card {
        width: 200px;
        .winner {
          color: red;
          font-style: italic;
        }
    }

    ion-avatar {
        margin: auto;
        width: 120px;
        height: 120px;
    }

}
